{{#hits}}
<tr class='row'>
  <td class='col-xs-12'>
    <h4 class='alert-success'>
      <b>
        {{#titleClic}}{{#fulltext}}{{{mimetype}}} {{{uri}}} {{/fulltext}} "{{title}}"{{/titleClic}}
      </b>
    </h4>
    <div class='col-xs-10'>
      <p class='small abstract'>
        {{#abstr}}{{abstract}}{{/abstr}}
      </p>
      <section class="download-links">
        <div class='row'>
          {{#hasFulltext}}
          <div class='col-xs-3'>
            {{#spaceless}}
            <div class="inline-block">
              <p class="h4 text-muted text-center">Fulltext</p>
              {{#fulltext}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/32px/{{mimetypeIconName}}.png' title="{{mimetype}}">
              </a>
              {{/fulltext}}
            </div>
            {{/spaceless}}
          </div>
          {{/hasFulltext}}
          {{#hasMetadata}}
          <div class='col-xs-2'>
            {{#spaceless}}
            <div class="inline-block">
              <p class="h4 text-muted text-center">Metadata</p>
              {{#metadata}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/32px/{{mimetypeIconName}}.png' title="{{mimetype}}">
              </a>
              {{/metadata}}
            </div>
            {{/spaceless}}
          </div>
          {{/hasMetadata}}
          {{#hasCovers}}
          <div class='col-xs-2'>
            {{#spaceless}}
            <div class="inline-block">
              <p class="h4 text-muted text-center">Covers</p>
              {{#covers}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/32px/{{mimetypeIconName}}.png' title="{{mimetype}}">
              </a>
              {{/covers}}
            </div>
            {{/spaceless}}
          </div>
          {{/hasCovers}}
          {{#hasAnnexes}}
          <div class='col-xs-3'>
            {{#spaceless}}
            <div class="inline-block">
              <p class="h4 text-muted text-center">Annexes</p>
              {{#annexes}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/32px/{{mimetypeIconName}}.png' title="{{mimetype}}">
              </a>
              {{/annexes}}
            </div>
            {{/spaceless}}
          </div>
          {{/hasAnnexes}}
          {{#hasEnrichments}}
          <div class='col-xs-2'>
            {{#spaceless}}
            <div class="inline-block">
              <p class="h4 text-muted text-center"><a href='{{consolidateEnrichmentsUri}}' target='_blank'>Enrichments</a></p>
              {{#enrichments}}
              <a class="inline-push-down-1 inline-push-right-1 inline-block enrichment" href='{{uri}}' target='_blank'>
                <i class="enrichment-type">{{type}}</i>
                <img src='img/mimetypes/32px/tei.png' title="application/tei+xml">
              </a>
              {{/enrichments}}
            </div>
            {{/spaceless}}
          </div>
          {{/hasEnrichments}}
        </div>
        {{#hasErratumOf}}
          <p>Cet erratum se réfère au(x) document(s) suivant(s) :</p>
          <ul>
          {{#errata}}
              <li><a href="{{apiUrl}}document/{{id}}" title="version JSON">{{title}}</a>
                  [<a href="{{apiUrl}}document/{{id}}/metadata/mods" title="version MODS">MODS</a>]
                  [<a href="{{apiUrl}}document/{{id}}/fulltext/pdf" title="version PDF">PDF</a>]
              </li>
          {{/errata}}
          {{^errata}}
              <li>Problème lors de l'identification du ou des documents ciblés</li>
          {{/errata}}
          </ul>
        {{/hasErratumOf}}
      </section>
    </div>
    <div class='col-xs-2'>
      <div class='text-right'>
        <b class='label label-primary'>{{corpusName}}</b>
        <b class='label label-primary'>{{genre}}</b>
        <div>{{#quality}}Score : {{qualityIndicators.score}}{{/quality}}</div>
        <div>{{#quality}}Mots : {{qualityIndicators.pdfWordCount}}{{/quality}}</div>
        <div>{{#quality}}Publication : {{publicationDate}}{{/quality}}</div>
      </div>
    </div>
  </td>
</tr>
{{/hits}}