{{#hits}}
<tr class='row'>
  <td class='col-xs-12'>
    <h4 class='alert-success'>
      <b>{{titleClic fulltext title language}}
      </b>
    </h4>
    <div class='col-xs-10'>
      <p class='small abstract'>
        {{abstr abstract}}
      </p>
      <section class="download-links">
        <div class='row'>
          {{#if fulltext}}
          <div class='col-xs-3'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Fulltext</p>
              {{#fulltext ~}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{~/fulltext}}
            </div>
          </div>
          {{/if}} {{#if metadata}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Metadata</p>
              {{#metadata ~}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{~/metadata}}
            </div>
          </div>
          {{/if}} {{#if covers}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Covers</p>
              {{#covers}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{/covers}}
            </div>
          </div>
          {{/if}} {{#if annexes}}
          <div class='col-xs-3'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Annexes</p>
              {{#annexes}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{/annexes}}
            </div>
          </div>
          {{/if}} {{#if enrichments}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center"><a href='{{consolidateEnrichmentsUri}}' target='_blank'>Enrichments</a></p>
              {{enrichmentsList enrichments}}
            </div>
          </div>
          {{/if}}
        </div>
        {{#if erratumOf}}
        <p>Cet erratum se réfère au(x) document(s) suivant(s) :</p>
        <ul>
          {{#errata}}
          <li><a href="{{apiUrl}}document/{{id}}" title="version JSON">{{title}}</a> ({{host.publicationDate}}, issue {{host.issue}}, vol. {{host.volume}}, p. {{host.pages.first}}-{{host.pages.last}})
            <a href="{{apiUrl}}document/{{id}}/metadata/mods" title="version MODS"><img src='img/mimetypes/mods.png' title="MODS"></a>
            <a href="{{apiUrl}}document/{{id}}/fulltext/tei" title="version TEI"><img src='img/mimetypes/tei.png' title="TEI"></a>
            <a href="{{apiUrl}}document/{{id}}/fulltext/pdf" title="version PDF"><img src='img/mimetypes/pdf.png' title="PDF"></a>
          </li>
          {{/errata}} {{^errata}}
          <li>Problème lors de l'identification du ou des documents ciblés</li>
          {{/errata}}
        </ul>
        {{/if}}
      </section>
    </div>
    <div class='col-xs-2'>
      <div class='text-right'>
        <b class='label label-primary'>{{corpusName}}</b>
        <b class='label label-primary'>{{genre}}</b>
        <div>{{quality "Score : " qualityIndicators.score}}</div>
        <div>{{quality "Mots : " qualityIndicators.pdfWordCount}}</div>
        <div>{{quality "Publication : " publicationDate}}</div>
      </div>
    </div>
  </td>
</tr>
{{/hits}}