{{#hits}}
<tr class='row'>
  <td class='col-xs-12'>
    <div class="title">
      {{flags language}}
      <h4 class='alert-success'>
      {{titleClic fulltext title}}
    </h4>
    </div>
    <div class='col-xs-9'>
      <p class='small abstract'>
        {{abstr abstract}}
      </p>
      <section class="download-links">
        <div class='row'>
          {{#if fulltext}}
          <div class='col-xs-offset-1 col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Fulltext</p>
              {{#fulltext ~}}
              <a class="inline-push-down-1 inline-block {{#if quality}}ocr{{/if}}" href='{{uri}}?sid=istex-api-demo' target='_blank'>
                {{#if quality}}
                  <i class="ocr-quality">{{fixQuality quality.rate}}%</i>
                {{/if}}
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a> {{~/fulltext}}
            </div>
          </div>
          {{/if}} {{#if metadata}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Metadata</p>
              {{#metadata ~}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}?sid=istex-api-demo' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{~/metadata}}
            </div>
          </div>
          {{/if}} {{#if covers}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Covers</p>
              {{#covers}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}?sid=istex-api-demo' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{/covers}}
            </div>
          </div>
          {{/if}} {{#if annexes}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center">Annexes</p>
              {{#annexes}}
              <a class="inline-push-down-1 inline-block" href='{{uri}}?sid=istex-api-demo' target='_blank'>
                <img src='img/mimetypes/{{mimetypeIconName mimetype}}.png' title="{{mimetype}}">
              </a>
              {{/annexes}}
            </div>
          </div>
          {{/if}} {{#notEmpty enrichments}}
          <div class='col-xs-2'>
            <div class="inline-block">
              <p class="h4 text-muted text-center"><a href='{{consolidateEnrichmentsUri}}' target='_blank'>Enrichments</a></p>
              {{enrichmentsList enrichments}}
            </div>
          </div>
          {{/notEmpty}}
        </div>
        {{#if erratumOf}}
        <p>Cet erratum se réfère au(x) document(s) suivant(s) :</p>
        <ul>
          {{#errata}}
          <li>
            <a href="{{apiUrl}}document/{{id}}?sid=istex-api-demo" title="version JSON">{{title}}</a> ({{host.publicationDate}}, issue {{host.issue}}, vol. {{host.volume}}, p. {{host.pages.first}}-{{host.pages.last}})
            <a href="{{apiUrl}}document/{{id}}/metadata/mods?sid=istex-api-demo" title="version MODS"><img src='img/mimetypes/mods.png' title="MODS"></a>
            <a href="{{apiUrl}}document/{{id}}/fulltext/tei?sid=istex-api-demo" title="version TEI"><img src='img/mimetypes/tei.png' title="TEI"></a>
            <a href="{{apiUrl}}document/{{id}}/fulltext/pdf?sid=istex-api-demo" title="version PDF"><img src='img/mimetypes/pdf.png' title="PDF"></a>
          </li>
          {{/errata}} {{^errata}}
          <li>Problème lors de l'identification du ou des documents ciblés</li>
          {{/errata}}
        </ul>
        {{/if}}
      </section>
    </div>
    <div class='col-xs-3'>
      <div class='text-right'>
        <b class='label label-primary'>{{corpusName}}</b>
        <b class='label label-primary'>{{genre}}</b>
        {{#if host.title}}
        <b class="label label-primary">{{host.title}}</b>
        {{/if}}
        {{#if ark}}
        <b class="label label-success">{{arkLink ark}}</b>
        {{/if}}
        <div>{{quality "Score : " qualityIndicators.score}}</div>
        <div>{{quality "Mots : " qualityIndicators.pdfWordCount}}</div>
        <div>{{quality "Publication : " publicationDate}}</div>
      </div>
    </div>
  </td>
</tr>
{{/hits}}
