<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6">
    <div id="searchFieldRow">
      <div class="row">
        <div class="col-xs-12">
          <h1 style="color:#458ca6" class="h3">Bienvenue sur le <span style="color:#c4d733">démonstrateur ISTEX</span></h1>
          <button class="btn btn-info btn-xs dropdown-toggle" style="margin-bottom:10px" data-toggle="modal" data-target="#welcomeModal">
            En savoir plus
          </button>
          <!-- Modal aide -->
          <div class="modal fade" data-backdrop="static" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="helpLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-center" id="helpLabel">
                    <strong>Bienvenue</strong> sur le démonstrateur de l'API <strong>ISTEX</strong> !
                  </h4>
                </div>
                <div class="modal-body">
                  <p class="text-justify">Ce démonstrateur a une <strong>vocation pédagogique</strong> pour montrer les différents aspects de l'API ISTEX.</p>
                  <p class="text-justify">Le code source du site peut cependant servir comme <strong>base de réflexion</strong> pour construire ou améliorer un portail, comme le font les <a href="http://widgets.istex.fr/">widgets ISTEX</a>. Ceux-ci permettent de <strong>construire rapidement des interfaces graphiques</strong> permettant d'interroger le fond ISTEX.</p>
                  <p class="text-justify">Ce démonstrateur <strong>illustre les différents aspects</strong> de l'API ISTEX, de la recherche à l'affichage des résultats, en passant par l'utilisation des facettes. Des <strong>infobulles</strong> sont disponibles sur l'ensemble des fonctionnalités pour vous guider.</p>
                  <p class="text-justify">Ce démonstrateur ne constitue donc <strong>pas un portail documentaire</strong> sur l'API.</p>
                  <p class="text-justify">Pour toute aide supplémentaire ou suggestion, vous pouvez nous écrire à istex@inist.fr.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Continuer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form role="form" class="form-inline" id="searchform">
            <div data-toggle="istex-tooltip" class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="searchField" placeholder="Titre ou mot clef" ng-model="searchfield" ng-change="search()">
                <div class="input-group-btn">
                  <button id="searchButton" type="submit" class="btn" data-loading-text='<img src="img/loading.gif" class="loading" id="loading"/>'>
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                  <button id="optionsSearchButton" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span><small style="margin-left:3px">Options</small>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsSearchButton">
                    <li class="dropdown-header">Score</li>
                    <li>
                      <input type="radio" name="scoreGroup" value="quality" checked style="margin-left:15px;margin-right:5px"><small>Relevé par qualité</small></li>
                    <li>
                      <input type="radio" name="scoreGroup" value="lucene" style="margin-left:15px;margin-right:5px"><small>Brut</small></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="istex-tooltip">
              <h5>Mot clef</h5>
              <p>Ce champ permet la recherche d'un ou plusieurs mot(s) clef(s). Cette recherche peut être affinée grâce aux options de recherche avancées et aux facettes.</p>
              <div class="references">
                <h6>
                  <span class="label label-istex-documentation">ISTEX API Documentation:</span>
                </h6>
                <ul>
                  <li>
                    <a class="link-external" target="_blank" href="{{ app.apiUrl}}/documentation/search/#syntaxe-des-requetes">
                      Syntaxe des requêtes
                    </a>
                  </li>
                  <li>
                    <a class="link-external" target="_blank" href="{{ app.apiUrl}}/documentation/search/#exemples-classiques-de-recherche">
              Exemples classiques de recherche
            </a>
                  </li>
                </ul>
              </div>
              <div data-ng-if="helper.searchKeys.query">
                <hr>
                <p>Morceau de la requête généré par le champ: </p>
                <p class="query-chunk">
                  <mark data-ng-bind="helper.searchKeys.query"></mark>
                </p>
              </div>
            </div>
            <div id="search-warning">
              <p>Attention, la requête saisie est syntaxiquement incorrecte ou incomplète.</p>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="text-align:left">
        <div class="col-xs-12">
          <div class="panel-heading col-xs-6 col-xs-offset-3">
            <h4 id="advancedSearchTitle" class="panel-title">
              <button type="button" class="btn" data-toggle="modal" data-target="#advancedSearch">
                Recherche avancée
              </button>
            </h4>
            <div id="advancedSearch" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="advancedSearchModalLabel">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="advancedSearchModalLabel">Recherche Avancée</h4></div>
                  <div class="modal-body">
                    <div id="builder"></div>
                  </div>
                  <div class="modal-footer">
                    <button id="btn-reset" class="btn btn-warning glyphicon glyphicon-refresh"></button>
                    <button id="btn-get" class="btn btn-success glyphicon glyphicon-search"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>